<%= form_for @department do |f| %>
<p> <%= f.label :name%></p>
<p> <%= f.text_field :name %></p>
<p> <%= f.label :category%></p>
<p> <%= f.text_field :category %></p>
<p> <%= f.label :floor%></p>
<p> <%= f.text_field :floor %></p>
<p> <%= f.submit%></p>
<% end %>
